module;

#include <synthclone/config.h>

export module synthclone.core:project;

import std;

///////////////////////////////////////////////////////////////////////////////
// synthclone::project_url
///////////////////////////////////////////////////////////////////////////////

namespace SYNTHCLONE_LIB_NAMESPACE {

    /**
     * The main URL for the project.
     */

    export
    constexpr std::string_view project_url("${CMAKE_PROJECT_HOMEPAGE_URL}");

}

///////////////////////////////////////////////////////////////////////////////
// synthclone::project_version
///////////////////////////////////////////////////////////////////////////////

namespace SYNTHCLONE_LIB_NAMESPACE {

    /**
     * A string representing the whole `synthclone` version number.
     */

    export
    constexpr std::string_view project_version(
        "${CMAKE_PROJECT_VERSION_MAJOR}.${CMAKE_PROJECT_VERSION_MINOR}."
        "${CMAKE_PROJECT_VERSION_PATCH}");

}

///////////////////////////////////////////////////////////////////////////////
// synthclone::project_version_major
///////////////////////////////////////////////////////////////////////////////

namespace SYNTHCLONE_LIB_NAMESPACE {

    /**
     * The major portion of the `synthclone` version number.
     */

    export
    constexpr std::uint_least32_t project_version_major =
        ${CMAKE_PROJECT_VERSION_MAJOR};

}

///////////////////////////////////////////////////////////////////////////////
// synthclone::project_version_minor
///////////////////////////////////////////////////////////////////////////////

namespace SYNTHCLONE_LIB_NAMESPACE {

    /**
     * The minor portion of the `synthclone` version number.
     */

    export
    constexpr std::uint_least32_t project_version_minor =
        ${CMAKE_PROJECT_VERSION_MINOR};

}

///////////////////////////////////////////////////////////////////////////////
// synthclone::project_version_patch
///////////////////////////////////////////////////////////////////////////////

namespace SYNTHCLONE_LIB_NAMESPACE {

    /**
     * The patch portion of the `synthclone` version number.
     */

    export
    constexpr std::uint_least32_t project_version_patch =
        ${CMAKE_PROJECT_VERSION_PATCH};

}
