[Desktop Entry]
Categories=Applications;Audio;AudioVideo;Qt;
Comment=Synthesizer-cloning software
Encoding=UTF-8
Exec=${prefix}/bin/synthclone
GenericName=Synthclone
GenericName[en_US]=Synthclone
Hidden=false
Icon=${prefix}/share/icons/synthclone.png
MultipleArgs=false
Name=Synthclone
Terminal=false
Type=Application
Version=1.0
