[Desktop Entry]
Categories=Audio;AudioVideo;Qt;
Comment=Synthesizer-cloning software
Encoding=UTF-8
Exec=${binDir}/synthclone
GenericName=Synthclone
GenericName[en_US]=Synthclone
Hidden=false
Icon=${dataDir}/icons/synthclone.png
Name=Synthclone
Terminal=false
Type=Application
